node_modules/
build/
public/*
tokens/*
public/qr-codes/*
logs/*
!logs/.gitkeep
!public/*/index.html
!public/qr-codes/index.html
!tokens/.gitkeep
.env
src/firebase/quickstartsample-opvsxj-5d9f20ff1907.json