version: "3.9"
services:
  venttys-wh:
    image: registry.gitlab.com/vettys/backend/whatsapp-handler
    build: .
    container_name: whatsapp-handler
    volumes: 
      - ./public:/home/app/public
      - ./tokens:/home/app/tokens
    environment: 
      - ENV="development"
      - PHONE="+573185449408"
      - COMMERCE="Memo Comidas Rapidas"
      # LOCALHOST
      # - EXTERNAL_PUBSUB_SERVER="localhost:9093"
      # - DB_CONNECTION_STRING="mongodb://venttys:dmVudHR5cw@localhost:27017/venttys-bot?authSource=admin"
      # DOCKER (Default)
      # - EXTERNAL_PUBSUB_SERVER=kafka:9092
      # - DB_CONNECTION_STRING="mongodb://venttys:dmVudHR5cw@venttys-mongo:27017/venttys-bot?authSource=admin"
    working_dir: /home/app
    networks:
      - venttys-net

volumes:
  venttys-wh-tokens:
  venttys-wh-public:

networks: 
  venttys-net:
    name: venttys-net
